.profile {
    display: grid;
    grid-template-areas: 
    "left info"
    "left posts";
    grid-template-columns: min-content auto;
    grid-template-rows: max-content auto;
}

.editorWrapper {
    position: fixed;
    padding: 20px;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: max-content;
    height: max-content;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}