.header {
    position: fixed;
    left:10%;
    right:10%;
    top:0;
    background-color: #004d4d;
    padding: 10px;
    padding-left: 52px;
    margin: 10px 0;
    border-radius: 5px;
    background-image: url(../../assets/logo.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }

.nav {
  display: inline-block;
}

.item {
  font-size: 16px;
  color: white;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.item:hover {
  background-color: #008080;
  color: white;
}

.navlink {
  color: #fff;
}

.active {
  color: #fff;
  font-weight: bold;
}

.loginWrapper {
  float: right;
}