.loginform {
    width: max-content;
    margin: 0 auto;
    margin-top: 10%;
}

.checkbox {
    display: inline-block;
    width: fit-content;
}

.checkboxWrapper {
    display: grid;
    width: max-content;
    grid-template-columns: min-content max-content;
    gap: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.checkboxName {
    display: inline-block;
    line-height: 20px;
}

.commonError {
    width: max-content;
    margin: 0 auto;
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(202, 53, 53, 0.8);
    border-radius: 5px;
    margin-bottom: 5px;
}

.loginBtn {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
}