a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3 {
  color: #004d4d;
  margin: 0 0 10px 0;
  text-align: center;
}

button {
  color: white;
  height:max-content;
  background-color: #004d4d;
  border-style: none;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
}

textarea {
  display: block;
  border: 1px solid #004d4d;
  border-radius: 5px;
  resize: none;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #004d4d;
  border-radius: 5px;
  width: 100%;
}

input[type="checkbox" i] {
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid #004d4d;
}

button:hover {
  background-color: #008080;
}

button:active {
  background-color: #003030;
}

.app-wrapper {
  width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.app-wrapper-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 10%;
  margin-top: 62px;
  margin-bottom: 46px;
  overflow-y: auto;
}