.logo {
  height: 32px;
  margin: 16px;
  background: url(./assets/logo.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.site-layout .site-layout-background {
  background: #fff;
}